<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OppeinCRM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F212FA91C3F433300644B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F212FC21C3F433300644B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F212FCD1C3F433300644B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
